:root {
  --Background: #292d3e;
  --Foreground: #a6accd;
  --Text: #676e95;
  --SelectionBackground: #717cb470;
  --SelectionForeground: #ffffff;
  --Buttons: #303348;
  --SecondBackground: #34324a;
  --Disabled: #515772;
  --Contrast: #202331;
  --Active: #414863;
  --Border: #2b2a3e;
  --Highlight: #444267;
  --Tree: #676e95;
  --Notifications: #202331;
  --AccentColor: #ab47bc;
  --ExcludedFilesColor: #2f2e43;

  --GreenColor: #c3e88d;
  --YellowColor: #ffcb6b;
  --BlueColor: #82aaff;
  --RedColor: #f07178;
  --PurpleColor: #c792ea;
  --OrangeColor: #f78c6c;
  --CyanColor: #89ddff;
  --GrayColor: #676e95;
  --White: #eeffff;

  --ErrorColor: #ff5370;
  --VariablesColor: #eeffff;
  --LinksColor: #80cbc4;
  --FunctionsColor: #82aaff;
  --KeywordsColor: #c792ea;
  --TagsColor: #f07178;
  --StringsColor: #c3e88d;
  --OperatorsColor: #89ddff;
  --AttributesColor: #ffcb6b;
  --NumbersColor: #f78c6c;
  --ParametersColor: #f78c6c;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

.text_highlight_alt {
}

.link_tag {
}
.h2_text_var {
}

.h2_text {
}

.nav_tag {
}

.text_highlight {
}

.p_custom {
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  color: var(--Text);
  background: var(--Background);
  transition:
    color 0.5s,
    var(--Background) 0.75s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
